head{
    height: 100%;
    width: 100%;
}





body{
    text-align: center;
    align-items: center;
}

footer{
font-size: 21px;
}

header{
    font-size: 21px;
}
header,footer{
    font-family: "Prompt", sans-serif;
}

#rand1{
    border: solid rgb(255, 252, 252) 5px;
    size: 250px;
}

#Splatoon1:hover{
    border: dashed blue 5px;
}


#Splatoon1{
    position: relative;
    
}

#f1{
    margin-bottom: 25px;
    font-family: "Maven Pro", sans-serif;
}

#h12{
    margin-top: 15px;
}


#Splatoon2{
    position: relative;
}


#Splatoon2:hover{
    border: dashed rgb(21, 199, 18) 5px;
}